<div class="row">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header">
        <%= t('notifications.types.active') %>
      </div>
      <%= render partial: 'partials/notifications/table', locals: { notifications: @active_notifications} %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header">
        <%= t('notifications.types.viewed') %>
      </div>
      <%= render partial: 'partials/notifications/table', locals: { notifications: @viewed_notifications} %>
    </div>
  </div>
</div>