<%= render('admin/settings/nav') %>

<div class="card shadow">
  <div class="card-header">
    <%= t('country.action.edit') %>
  </div>
  <div class="card-body">
    <%= render 'form', country: @country, model_url: edit_admin_settings_country_path(@country),
                button_name: t('action.edit') %>
  </div>
</div>
