<%= render('admin/settings/nav') %>

<div class="card shadow">
  <div class="card-header">
    <%= t('country.action.new') %>
  </div>
  <div class="card-body">
    <%= render 'form', country: @country, model_url: admin_settings_countries_path,
               button_name: t('action.create')%>
  </div>
</div>
