
<div class="card shadow">
  <div class="card-header">
    Ordering bill
  </div>
  <div class="card-body">
    <%= render 'form', bill: @bill, model_url: employee_bills_path %>

    <%= link_to 'Back', employee_bills_path, class: 'btn btn-secondary' %>
  </div>
</div>
