<div class="row">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header">
        Bill information
      </div>
      <div class="card-body">
        <p><strong>Card number:</strong>
          <span class="card-number"><%= card_number_format(@bill.card_number) %></span>
          <i class="fa fa-sm fa-copy copy-icon ml-2"></i>
        </p>
        <p><strong>Bill type:</strong>
          <%= render partial: 'partials/bill_type', locals: { bill_type: @bill.bill_type } %>
        </p>
        <p><strong>Amount:</strong>
          <span class=""><%= number_to_currency @bill.amount %></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header">
        Bill transaction
      </div>
      <div class="card-body">
        <%= @bill.transactions %>
      </div>
    </div>
  </div>
</div>