<% if transaction.i_replenishment? %>
  <span class="badge badge-info noselect"><%= t('transaction.statuses.i_replenishment') %></span>
<% elsif transaction.transfer? %>
  <span class="badge badge-warning noselect"><%= t('transaction.statuses.transfer') %></span>
<% end %>