<% if bill_type == Bill::DEPOSIT_TYPE %>
  <span class="badge badge-primary"><%= t('bill.types.deposit') %></span>
<% elsif bill_type == Bill::CREDIT_TYPE %>
  <span class="badge badge-dark"><%= t('bill.types.credit') %></span>
<% end %>