<% if bill_type == Bill::DEPOSIT_TYPE %>
  <span class="badge text-white deposit-color noselect"><%= t('bill.types.deposit') %></span>
<% elsif bill_type == Bill::CREDIT_TYPE %>
  <span class="badge text-white credit-color noselect"><%= t('bill.types.credit') %></span>
<% end %>