<div class="fast-buttons d-inline">
  <button type="button" class="btn btn-outline-dark btn-circle" data-value="10.00">10</button>
  <button type="button" class="btn btn-outline-dark btn-circle" data-value="20.00">20</button>
  <button type="button" class="btn btn-outline-dark btn-circle" data-value="50.00">50</button>
  <button type="button" class="btn btn-outline-dark btn-circle" data-value="100.00">100</button>
</div>