<% if user.admin_role? %>
  <span class="badge badge-success"><%= t('user.role.admin') %></span>
<% elsif user.user_role? %>
  <span class="badge badge-primary"><%= t('user.role.employee') %></span>
<% end %>