<% if notification.active? %>
  <span class="badge badge-success noselect"><%= t('notifications.types.active_one') %></span>
<% elsif notification.viewed? %>
  <span class="badge badge-secondary noselect"><%= t('notifications.types.viewed_one') %></span>
<% end %>