
<div class="card shadow">
  <div class="card-header">
    <%= t('replenishment.field.select_bill') %>
  </div>
  <div class="card-body">
    <%= render(partial: 'form', locals: { bills: @bills }) %>
  </div>
</div>