.card-width {
    width: 18rem;
    max-width: 18rem;
    height: 6rem;
    max-height: 6rem;
    display: flex;
    margin-right: 10px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card--back {
    transform: rotateY( 180deg );
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.deposit-card {
    color: #fff;
    -webkit-text-stroke: 0.3px #000;
    font-weight: bold;
    background-color: #2f3b4b;
    background: -moz-radial-gradient(center 45deg, circle closest-corner, #2f3b4b 0%, #3e4f63 100%);
    background: -webkit-gradient(radial, center center, 10, center center, 900, from(#2f3b4b), to(#3e4f63));
}
.credit-card {
    color: #fff;
    -webkit-text-stroke: 0.3px #000;
    font-weight: bold;
    background-color: #664246;
    background: -moz-radial-gradient(center 45deg, circle closest-corner, #432b2f 0%, #8a5b5f 100%);
    background: -webkit-gradient(radial, center center, 10, center center, 900, from(#432b2f), to(#8a5b5f));
}
.card-image {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.card-date {
    margin-left: 3rem;
    font-size: small;
}
.copy-icon {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: auto;
}
