
@import 'bootstrap';
@import 'bootstrap-datepicker3';
@import "font-awesome";

.alert-notice {
  color: #4e4b57;
  background-color: #cacae4;
  border-color: #dfe1e6;
}
.alert-alert {
  @extend .alert-danger
}

.invalid-feedback {
  display: block !important;
}