<%= render('admin/settings/nav') %>

<div class="card shadow">
  <div class="card-header">
    <%= t('city.action.edit') %>
  </div>
  <div class="card-body">
    <%= render 'form', city: @city, model_url: edit_admin_settings_city_path(@city), button_name: t('action.edit') %>
  </div>
</div>
