<%= render('admin/settings/nav') %>

<div class="card">
  <div class="card-header">
    Create city
  </div>
  <div class="card-body">
    <%= render 'form', city: @city, model_url: admin_settings_cities_path %>

    <%= link_to 'Back', admin_settings_cities_path, class: 'btn btn-secondary' %>
  </div>
</div>
