<%= render('admin/settings/nav') %>

<div class="card shadow">
  <div class="card-header">
    <%= t('city.action.new') %>
  </div>
  <div class="card-body">
    <%= render 'form', city: @city, model_url: admin_settings_cities_path, button_name: t('action.create') %>
  </div>
</div>
