
<div class="card shadow">
  <div class="card-header">
    <%= t('user.action.edit') %>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user, model_url: admin_user_path(@user), button_name: t('action.edit') %>
  </div>
</div>
