
<div class="card">
  <div class="card-header">
    <%= t('user.action.create') %>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user, model_url: admin_users_path, button_name: t('action.create') %>
  </div>
</div>
