<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-bottom">
  <a class="navbar-brand" href="<%= employee_home_path %>">
    <img src="/images/moon_logo.svg" width="25" height="25" class="d-inline-block align-top" alt="">
    Moonlight
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= render('layouts/navigation/user_info') %>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= pundit_user.full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to t('action.logOut'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>