<footer class="mt-4 container text-center">
  <div class="social">
    <a class="cursor-unset text-body" href="https://www.instagram.com/sanya._.s/"><i class="fa fa-2x fa-instagram"></i></a>
  </div>
  <div class="rights">
    <p class="noselect">© <%= DateTime.now.year %>. All rights Reserved.
      <br>
      Site by Sanya Syvolap
    </p>
  </div>
</footer>