<li class="nav-item">
  <a class="nav-link <%= current_page?(info_path(pundit_user)) ? ' active ' : '' %>"
     href="<%= info_path(pundit_user) %>">
    My info
    <% if pundit_user.full_name? %>
      <span class="badge badge-danger">Warning!</span>
    <% end %>
  </a>
</li>